<html>

<head>
<meta name=Title content="">
<meta name=Keywords content="">
<meta http-equiv=Content-Type content="text/html; charset=macintosh">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
@font-face
  {font-family:"Cambria Math";
  panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
  {font-family:Calibri;
  panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
  {font-family:"Trebuchet MS";
  panose-1:2 11 6 3 2 2 2 2 2 4;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
  {margin:0cm;
  margin-bottom:.0001pt;
  font-size:12.0pt;
  font-family:Calibri;}
h1
  {margin-right:0cm;
  margin-left:0cm;
  font-size:24.0pt;
  font-family:"Times New Roman";
  font-weight:bold;}
p
  {margin-right:0cm;
  margin-left:0cm;
  font-size:12.0pt;
  font-family:"Times New Roman";}
span.Heading1Char
  {font-family:"Times New Roman";
  font-weight:bold;}
.MsoChpDefault
  {font-family:Calibri;}
@page WordSection1
  {size:842.0pt 595.0pt;
  margin:3.0cm 70.85pt 3.0cm 70.85pt;}
div.WordSection1
  {page:WordSection1;}
 /* List Definitions */
ol
  {margin-bottom:0cm;}
ul
  {margin-bottom:0cm;}
-->
</style>

</head>

<body lang=EN-GB>

<div class=WordSection1>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=705
 style='width:705.0pt;border-collapse:collapse'>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal style='margin-top:7.5pt;margin-right:0cm;margin-bottom:
  7.5pt;margin-left:0cm'><b><span style='font-size:29.0pt;font-family:"Trebuchet MS";
  color:#22ABFB'>SAP Cloud Task</span></b></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'><%= image_tag attachments['logo_swisscom.jpg'].url %></td>
 </tr>
</table>

<p class=MsoNormal style='margin-bottom:7.5pt;background:white'><span
style='font-size:10.5pt;font-family:"Trebuchet MS";color:#333333'>A new task
has been submitted by user&nbsp;</span><b><span style='font-size:9.0pt;
font-family:"Trebuchet MS";color:white;background:navy'><%= @tasks[:username] %></span></b><span
style='font-size:10.5pt;font-family:"Trebuchet MS";color:#333333'>&nbsp;requesting
to&nbsp;</span><b><span style='font-size:9.0pt;font-family:"Trebuchet MS";
color:white;background:red'><%= @tasks[:task_type] %></span></b><span style='font-size:10.5pt;
font-family:"Trebuchet MS";color:#333333'>&nbsp;on<br>
</span><b><span style='font-size:9.0pt;font-family:"Trebuchet MS";color:white;
background:deepskyblue'>Tenant <%= @tasks[:enterprise] %> &gt; VDC <%= @tasks[:vdc_name] %> (in datacenter <%= @tasks[:dc_name] %>) &gt; vApp <%= @tasks[:vapp_name] %></span></b><span style='font-size:10.5pt;
font-family:"Trebuchet MS";color:#333333'>&nbsp;<br>
<br>
The request consists on:</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=705
 style='border-collapse:collapse'>
 <tr style='height:4.85pt'>
  <td width=566 style='width:565.95pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:3.0pt 3.75pt 3.0pt 3.75pt;height:4.85pt'>
  <p class=MsoNormal style='line-height:15.0pt'><b><span style='font-family:
  "Trebuchet MS"'>VM Name</span></b></p>
  </td>
  <td width=47 style='width:47.15pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:3.0pt 3.75pt 3.0pt 3.75pt;height:4.85pt'>
  <p class=MsoNormal style='line-height:15.0pt'><b><span style='font-family:
  "Trebuchet MS"'>CPU</span></b></p>
  </td>
  <td width=49 style='width:49.3pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:3.0pt 3.75pt 3.0pt 3.75pt;height:4.85pt'>
  <p class=MsoNormal style='line-height:15.0pt'><b><span style='font-family:
  "Trebuchet MS"'>RAM</span></b></p>
  </td>
  <td width=43 style='width:42.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:3.0pt 3.75pt 3.0pt 3.75pt;height:4.85pt'>
  <p class=MsoNormal style='line-height:15.0pt'><b><span style='font-family:
  "Trebuchet MS"'>HD</span></b></p>
  </td>
  <% if @render_links %>
  <td width=43 style='width:42.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:3.0pt 3.75pt 3.0pt 3.75pt;height:4.85pt'>
  <p class=MsoNormal style='line-height:15.0pt'><b><span style='font-family:
  "Trebuchet MS"'>Action</span></b></p>
  <% end %>
  </td>
 </tr>
 <% @tasks[:vm_details].each do |vm| %>
 <tr style='height:18.9pt'>
  <td width=566 style='width:565.95pt;border:none;padding:3.0pt 3.75pt 3.0pt 3.75pt;
  height:18.9pt'>
  <p class=MsoNormal style='line-height:15.0pt'><b><span style='font-family:
  "Trebuchet MS"'><%= vm[:name] %></span></b><span
  style='font-family:"Trebuchet MS"'>&nbsp;<%= '(Persistent VM)' if vm[:persistent] %></span></p>
  </td>
  <td width=47 style='width:47.15pt;border:none;padding:3.0pt 3.75pt 3.0pt 3.75pt;
  height:18.9pt'>
  <p class=MsoNormal style='line-height:15.0pt'><span style='font-family:"Trebuchet MS"'><%= vm[:cpu] %></span></p>
  </td>
  <td width=49 style='width:49.3pt;border:none;padding:3.0pt 3.75pt 3.0pt 3.75pt;
  height:18.9pt'>
  <p class=MsoNormal style='line-height:15.0pt'><span style='font-family:"Trebuchet MS"'><%= vm[:ram] %></span></p>
  </td>
  <td width=43 style='width:42.6pt;border:none;padding:3.0pt 3.75pt 3.0pt 3.75pt;
  height:18.9pt'></td>
  <% if @render_links %>
  <td style="padding: 4px 5px;line-height: 20px;text-align: center;vertical-align: center;border-top: 1px solid #ddd" rowspan="<%= vm[:disks].count + 1 %>"><div>
    <%= link_to 'Accept', accept_task_url(vm[:task]), style: 'background-color:#0dbf22;border-radius:12px;color:#ffffff;display:inline-block;font-size:13px;font-weight:bold;line-height:30px;text-align:center;text-decoration:none;width:100px;-webkit-text-size-adjust:none;', only_path: true %>
  </td>
  <td style="padding: 4px 5px;line-height: 20px;text-align: center;vertical-align: center;border-top: 1px solid #ddd" rowspan="<%= vm[:disks].count + 1 %>">
    <%= link_to 'Cancel', cancel_task_url(vm[:task]), style: 'background-color:#bf0f32;border-radius:12px;color:#ffffff;display:inline-block;font-size:13px;font-weight:bold;line-height:30px;text-align:center;text-decoration:none;width:100px;-webkit-text-size-adjust:none;', only_path: true %>
  </td>
  <% end %>
 </tr>
 <% vm[:disks].each do |disk| %>
 <tr style='height:5.05pt'>
  <td width=566 style='width:565.95pt;padding:.75pt 30.0pt .75pt 30.0pt;
  height:5.05pt'>
  <p class=MsoNormal style='line-height:15.0pt'><span style='font-size:9.5pt;
  font-family:"Trebuchet MS"'>VOLUME 1 (No Name)</span></p>
  </td>
  <td width=47 style='width:47.15pt;padding:0cm 0cm 0cm 0cm;height:5.05pt'></td>
  <td width=49 style='width:49.3pt;padding:0cm 0cm 0cm 0cm;height:5.05pt'></td>
  <td width=43 style='width:42.6pt;padding:.75pt 3.75pt .75pt 3.75pt;
  height:5.05pt'>
  <p class=MsoNormal style='line-height:15.0pt'><span style='font-size:9.5pt;
  font-family:"Trebuchet MS"'>1 GB</span></p>
  </td>
 </tr>
 <tr style='height:2.65pt'>
  <td width=566 style='width:565.95pt;padding:.75pt 30.0pt .75pt 30.0pt;
  height:2.65pt'>
  <p class=MsoNormal style='line-height:15.0pt'><span style='font-size:9.5pt;
  font-family:"Trebuchet MS"'><%= disk[:type] %> <%= disk[:sequence] %> <%= disk[:name].nil? ? '(No Name)' : disk[:name] %></span></p>
  </td>
  <td width=47 style='width:47.15pt;padding:0cm 0cm 0cm 0cm;height:2.65pt'></td>
  <td width=49 style='width:49.3pt;padding:0cm 0cm 0cm 0cm;height:2.65pt'></td>
  <td width=43 style='width:42.6pt;padding:.75pt 3.75pt .75pt 3.75pt;
  height:2.65pt'>
  <p class=MsoNormal style='line-height:15.0pt'><span style='font-size:9.5pt;
  font-family:"Trebuchet MS"'><%= number_to_human_size(disk[:size] * 1024 * 1024 ) %></span></p>
  </td>
 </tr>
<% end %>
<% end %>
</table>

<p class=MsoNormal style='background:white'><span style='font-size:10.5pt;
font-family:"Trebuchet MS";color:#333333'>&nbsp;</span></p>
<% if @render_links %>
<%= link_to 'Accept all', tasks_multiple_url(task_action: 'accept', tasks: @tasks[:vm_details].map {|t| t[:task]}.join(',')), style: 'background-color:#0dbf22;border-radius:12px;color:#ffffff;display:inline-block;font-size:13px;font-weight:bold;line-height:30px;text-align:center;text-decoration:none;width:100px;-webkit-text-size-adjust:none;', only_path: true %>
<%= link_to 'Cancel all', tasks_multiple_url(task_action: 'cancel', tasks: @tasks[:vm_details].map {|t| t[:task]}.join(',')), style: 'background-color:#bf0f32;border-radius:12px;color:#ffffff;display:inline-block;font-size:13px;font-weight:bold;line-height:30px;text-align:center;text-decoration:none;width:100px;-webkit-text-size-adjust:none;', only_path: true %>
<% else %>
<p class=MsoNormal style='background:white'><span style='font-size:10.5pt;
font-family:"Trebuchet MS";color:#333333'>To approve or reject the task(s)
please do the following steps:</span></p>

<ol start=1 type=1>
 <li class=MsoNormal style='color:#333333;background:white'><span
     style='font-size:10.5pt;font-family:"Trebuchet MS"'>Logon to your Swisscom
     SAP Cloud Portal.</span></li>
 <li class=MsoNormal style='color:#333333;background:white'><span
     style='font-size:10.5pt;font-family:"Trebuchet MS"'>Go to virtual
     datacenters section and open the workflow tasks. There you can approve or
     reject your request.</span></li>
</ol>

<p class=MsoNormal style='background:white'><span style='font-size:10.5pt;
font-family:"Trebuchet MS";color:#333333'>&nbsp;</span></p>

<p class=MsoNormal style='background:white'><span style='font-size:10.5pt;
font-family:"Trebuchet MS";color:#333333'>The requester of the task(s) will be
informed on your decision by email.</span></p>

<p class=MsoNormal style='background:white'><span style='font-size:10.5pt;
font-family:"Trebuchet MS";color:#333333'>&nbsp;</span></p>

<p class=MsoNormal style='background:white'><span style='font-size:10.5pt;
font-family:"Trebuchet MS";color:#333333'>This is system-generated message.
Please do not respond to this email.</span></p>

<p class=MsoNormal style='background:white'><span style='font-size:10.5pt;
font-family:"Trebuchet MS";color:#333333'>&nbsp;</span></p>

<p class=MsoNormal style='background:white'><span style='font-size:10.5pt;
font-family:"Trebuchet MS";color:#333333'>Best regards</span></p>

<p class=MsoNormal><span style='font-family:"Trebuchet MS"'>&nbsp;</span></p>
<% end %>
</div>

</body>

</html>
